{
   "Version": "2012-10-17",
   "Id": "Policy1415115909153",
   "Statement": [
     {
       "Sid": "Access-to-specific-VPC-only",
       "Principal": "*",
       "Action": "s3:*",
       "Effect": "Deny",
       "Resource": ["arn:aws:s3:::{{ s3_bucket_name }}"],
       "Condition": {
         "StringNotEquals": {
           "aws:sourceVpc": "{{ vpc_id }}"
         },
         "NotIpAddress": {"aws:SourceIp": "194.106.127.216/32"}
       }
     }
   ]
}